<div id="body-content-about-us" class="body-content-custom">


  <section id="page-header">

    <div class="page-header-image parallax-bg-3 bg-image" style="background-image: url(assets/img/misc/page-header-bg-6.jpg);">

      <div class="cover bg-transparent-5-dark"></div>

    </div>
    <div class="page-header-inner tt-wrap">

      <div class="page-header-caption ph-caption-lg parallax-4 fade-out-scroll-3">
        <h1 class="page-header-title">{{aboutUs?.name}}</h1>
        <hr class="hr-short">

        <div class="page-header-description" data-max-words="40">
          {{aboutUs?.title}}
        </div>

      </div>

    </div>

  </section>

  <section id="about-me-section">
    <div class="about-me-inner tt-wrap">

      <div class="split-box about-me">
        <div class="container-fluid">
          <div class="row">
            <div class="row-lg-height">

              <div class="col-lg-6 col-lg-height split-box-image no-padding bg-image" [ngStyle]="{'background-image': 'url('+ aboutUs?.myPicImageLink +')' , 'background-position':'50% 50%'}">
                <div class="sbi-height padding-height-85"></div>
              </div> 

              <div class="col-lg-6 col-lg-height col-lg-middle no-padding">
                <div class="split-box-content sb-content-right">
                  <div class="tt-heading">
                    <div class="tt-heading-inner">
                      <h1 class="tt-heading-title">{{aboutUs?.whoiam_title}}</h1>
                      <div class="tt-heading-subtitle">{{aboutUs?.whoiam_subtitle}}</div>
                      <hr class="hr-short">
                    </div> 
                  </div>
                  <div class="margin-top-30">
                    <p>{{aboutUs?.whoiam_description}}</p>
                  </div>

                </div>
              </div> 

            </div> 
          </div> 
        </div> 
      </div>

      <div class="split-box what-i-do" *ngIf="false">
        <div class="container-fluid">
          <div class="row">
            <div class="row-lg-height">

              <div class="col-lg-6 col-lg-push-6 col-lg-height split-box-image no-padding bg-image" [ngStyle]="{'background-image': 'url('+ aboutUs?.myworkImageLink +')' , 'background-position':'50% 50%'}">

                <div class="sbi-height padding-height-85"></div>

              </div> 

              <div class="col-lg-6 col-lg-pull-6 col-lg-height col-lg-middle no-padding">

                <div class="split-box-content sb-content-left">

                  <div class="tt-heading">
                    <div class="tt-heading-inner">
                      <h1 class="tt-heading-title">{{aboutUs?.whatido_title}}</h1>
                      <div class="tt-heading-subtitle">{{aboutUs?.whatido_subtitle}}</div>
                      <hr class="hr-short">
                    </div> 
                  </div>

                  <div class="margin-top-30">
                    <p>{{aboutUs?.whatido_description}}</p>
                  </div>
                  <a [routerLink]="['','contact']" class="btn btn-primary margin-top-20">Hire Me!</a>
                  <a [routerLink]="['','portfolio']" class="btn btn-dark margin-top-20">View All My Work</a>
                </div>

              </div> 

            </div> 
          </div> 
        </div> 
      </div>

    </div> 
  </section>


  <section id="latest-work-section" class="margin-top-40" *ngIf="false"> 

    <div class="tt-heading padding-on text-center">
      <div class="tt-heading-inner tt-wrap">
        <h1 class="tt-heading-title">Latest Projects</h1>
        <div class="tt-heading-subtitle">My latest photo projects</div>
        <hr class="hr-short">
      </div>
    </div>

    <div class="latest-work-inner"> 

      <div class="project-carousel">

        <div class="owl-carousel cc-height-1 cc-hover-dark nav-outside-top" data-items="4" data-margin="0" data-dots="false" data-nav="true" data-nav-speed="800" data-mobile-portrait="1" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile-landscape="1" data-mobile-portrait="1">

          <a [routerLink]="['', 'gallery', album?._id]" class="cc-item" *ngFor="let album of albums">

            <div class="cc-image full-cover bg-image" [ngStyle]="{'background-image': 'url('+ album?.imageLink +')'}"></div>

            <div class="cc-caption center max-width-400">
              <h2 class="cc-title">{{album?.title}}</h2>
              <div class="cc-category"><span>{{album?.categoryName}}</span></div>
            </div>

          </a>

        </div>

      </div>

    </div>
  </section>

</div>
