<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content-feedback" class="body-content-custom">


  <!-- ============================================================
  ///// Begin blog list carousel section (featured slideshow) /////
  ============================================================= -->
  <section id="blog-list-carousel-section" class="blc-featured-slideshow">
    <div class="bl-carousel-wrap">
      <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

      <!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
      ====================================================================
      * Use class "nav-outside" for outside nav (requires boxed layout).
      * Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
      * Use class "nav-bottom-right" for bottom right nav.
      * Use class "nav-rounded" for rounded nav.
      * Use class "nav-light" to enable nav light style.
      * Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
      * Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
      * Use class "dots-rounded" for rounded dots.
      * Use class "owl-mousewheel" to enable mousewheel support.
      * Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
      * Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
      * Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
      * Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
      ================================================================
      * Available carousel data attributes:
          data-items="5".......................(items visible on desktop)
          data-tablet-landscape="4"............(items visible on mobiles)
          data-tablet-portrait="3".............(items visible on mobiles)
          data-mobile-landscape="2"............(items visible on tablets)
          data-mobile-portrait="1".............(items visible on tablets)
          data-loop="true".....................(true/false)
          data-margin="10".....................(space between items)
          data-center="true"...................(true/false)
          data-start-position="0"..............(item start position)
          data-animate-in="fadeIn".............(fade-in animation)
          data-animate-out="fadeOut"...........(fade-out animation)
          data-mouse-drag="false"..............(true/false)
          data-touch-drag="false"..............(true/false)
          data-autoheight="true"...............(true/false)
          data-autoplay="true".................(true/false)
          data-autoplay-timeout="5000".........(milliseconds)
          data-autoplay-hover-pause="true".....(true/false)
          data-autoplay-speed="800"............(milliseconds)
          data-drag-end-speed="800"............(milliseconds)
          data-nav="true"......................(true/false)
          data-nav-speed="800".................(milliseconds)
          data-dots="false"....................(true/false)
          data-dots-speed="800"................(milliseconds)
      -->
      <div class="owl-carousel cc-height-3 cc-height-m cursor-grab nav-bottom-right" data-items="1" data-loop="true"
        data-nav="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="8000"
        data-autoplay-hover-pause="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

        <!-- Begin carousel item
        ========================= -->
        <div class="cc-item">

          <!-- Element cover -->
          <!-- <span class="cover bg-transparent-4-dark"></span> -->

          <!-- cc image -->
          <div class="cc-image bg-image"
            style="background-image: url(assets/img/blog/list/featured-carousel/blog-fc-1.jpg); background-position: 50% 50%;">
          </div>

          <!-- Begin caption
          ===================
          * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
          * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
          -->
          <div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000">
            <!-- max width class is optional -->
            <div class="cc-category">
              <a  [routerLink]="['','about']">Featured</a> <a [routerLink]="['','about']">Photography</a>
            </div>
            <h2 class="cc-title" style="line-height: initial;">
              <a  [routerLink]="['','about']">We all need people who will give us feedback. That’s how we improve.</a>
            </h2>
            <div class="cc-meta">
              <span class="published"></span>
              <span class="posted-by">- by <a href="javascript:void(0)">Bill Gates</a></span>
            </div>
            <a [routerLink]="['','about']" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
          </div>
          <!-- End caption -->

        </div>
        <!-- End carousel item -->

        <!-- Begin carousel item
        ========================= -->
        <div class="cc-item">

          <!-- Element cover -->
          <span class="cover bg-transparent-4-dark"></span>

          <!-- cc image -->
          <div class="cc-image bg-image"
            style="background-image: url(assets/img/blog/list/featured-carousel/blog-fc-2.jpg); background-position: 50% 50%;">
          </div>

          <!-- Begin caption
          ===================
          * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
          * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
          -->
          <div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000">
            <!-- max width class is optional -->
            <div class="cc-category">
              <a  [routerLink]="['','about']">Featured</a> <a [routerLink]="['','about']">Photography</a>
            </div>
            <h2 class="cc-title" style="line-height: initial;">
              <a  [routerLink]="['','about']">Feedback is the breakfast of champions.</a>
            </h2>
            <div class="cc-meta">
              <span class="published"></span>
              <span class="posted-by">- by <a href="javascript:void(0)" >Ken Blanchard</a></span>
            </div>
            <a [routerLink]="['','about']" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
          </div>
          <!-- End caption -->



        </div>
        <!-- End carousel item -->

        <!-- Begin carousel item
        ========================= -->
        <div class="cc-item">

          <!-- Element cover -->
          <span class="cover bg-transparent-4-dark"></span>

          <!-- cc image -->
          <div class="cc-image bg-image"
            style="background-image: url(assets/img/blog/list/featured-carousel/blog-fc-3.jpg); background-position: 50% 50%;">
          </div>

          <!-- Begin caption
          ===================
          * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
          * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
          -->
          <div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000">
            <!-- max width class is optional -->
            <div class="cc-category">
              <a  [routerLink]="['','about']">Featured</a> <a [routerLink]="['','about']">Photography</a>
            </div>
            <h2 class="cc-title" style="line-height: initial;">
              <a  [routerLink]="['','about']">Feedback is a gift. Ideas are the currency of our next success. Let
                people see you value both feedback and ideas.</a>
            </h2>
            <div class="cc-meta">
              <span class="published"></span>
              <span class="posted-by">- by <a href="javascript:void(0)" title="">Jim Trinka and Les Wallace</a></span>
            </div>
            <a  [routerLink]="['','about']" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
          </div>
          <!-- End caption -->

        </div>
        <!-- End carousel item -->

        <!-- Begin carousel item
        ========================= -->
        <div class="cc-item">

          <!-- Element cover -->
          <span class="cover bg-transparent-4-dark"></span>

          <!-- cc image -->
          <div class="cc-image bg-image"
            style="background-image: url(assets/img/blog/list/featured-carousel/blog-fc-4.jpg); background-position: 50% 50%;">
          </div>

          <!-- Begin caption
          ===================
          * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
          * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
          -->
          <div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000">
            <!-- max width class is optional -->
            <div class="cc-category">
              <a [routerLink]="['','about']">Featured</a> <a [routerLink]="['','about']">Photography</a>
            </div>
            <h2 class="cc-title" style="line-height: initial;">
              <a [routerLink]="['','about']">There is no failure. Only feedback.</a>
            </h2>
            <div class="cc-meta">
              <span class="published"></span>
              <span class="posted-by">- by <a href="javascript:void(0)" >Robert Allen</a></span>
            </div>
            <a  [routerLink]="['','about']" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
          </div>
          <!-- End caption -->

        </div>
        <!-- End carousel item -->

      </div>
      <!-- End content carousel -->

    </div> <!-- /.gl-carousel-wrap -->
  </section>
  <!-- End blog list carousel section -->


  <!-- ==============================
  ///// Begin blog list section /////
  =============================== -->
  <section id="blog-list-section" class="blog-list-grid">
    <div class="blog-list-inner">
      <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

      <div class="row no-margin">

        <!-- Content column -->
        <div class="col-md-12 no-padding-left no-padding-right">

          <div class="isotope-wrap">

            <!-- Begin isotope
            ===================
            * Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
            * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
            -->
            <div class="isotope col-4 gutter-3">

              <!-- Begin isotope items wrap
              ============================== -->
              <div class="isotope-items-wrap no-margin-top">

                <!-- Grid sizer (do not remove!!!) -->
                <div class="grid-sizer"></div>
                <article class="blog-list-item">
                  <div class="isotope-item" *ngFor="let element of reviewsData; let i = index">

                    <div class="bl-item-title">{{element?.customer_name}}</div>
                    <div class="bl-item-meta">
                      <span class="published">Dt: {{element?.updatedAt | date: 'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="bl-item-desc" data-max-words="12">
                      <div class="crop">
                        <div style="width: 100%">
                          <div class="rate">
                            <input type="radio" id="{{element._id}}star5" name="{{element._id}}rate" value="5" />
                            <label for="{{element._id}}star5" title="text">5 stars</label>
                            <input type="radio" id="{{element._id}}star4" name="{{element._id}}rate" value="4" />
                            <label for="{{element._id}}star4" title="text">4 stars</label>
                            <input type="radio" id="{{element._id}}star3" name="{{element._id}}rate" value="3" />
                            <label for="{{element._id}}star3" title="text">3 stars</label>
                            <input type="radio" id="{{element._id}}star2" name="{{element._id}}rate" value="2" />
                            <label for="{{element._id}}star2" title="text">2 stars</label>
                            <input type="radio" id="{{element._id}}star1" name="{{element._id}}rate" value="1" />
                            <label for="{{element._id}}star1" title="text">1 star</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="bl-item-desc" data-max-words="12">{{element?.review_content}}</div>
                    
                  </div>
                </article>
                <!-- End isotope item -->
              </div>
              <!-- End body content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>