<!-- *************************************
*********** Begin body content ***********
************************************** -->
<div id="body-content" class="body-content-custom">


    <!-- ========================
    ///// Begin page header /////
    =============================
    * Use classes "ph-xs", "ph-sm", "ph-lg" or "ph-xlg" to set page header size.
    * Use class "ph-center" or "ph-right" to align page header caption.
    -->
    <section id="page-header" class="ph-sm">

        <!-- Begin page header image
      =============================
      * Use class "parallax-bg-1" up to "parallax-bg-6" to enable background image parallax effect.
      * Use class "fade-out-scroll-3" to enable fade out effect if page scroll.
      * Use class "hide-ph-image" to hide page header image without removing the code.
      -->
        <div class="page-header-image parallax-bg-3 bg-image"
            style="background-image: url(assets/img/misc/page-header-bg-5.jpg);">

            <!-- Element cover
        ===================
        * You can use prepared background transparent classes depends on brightness of your page header image. More info: file "helper.css".
        -->
            <div class="cover bg-transparent-5-dark"></div>

        </div>
        <!-- End page header image -->

        <!-- Begin page header inner -->
        <div class="page-header-inner tt-wrap">

            <!-- Begin page header caption
        ===============================
        * Use classes "ph-caption-xs", "ph-caption-sm", "ph-caption-lg" or "ph-caption-xlg" to set page header size.
        * Use class "parallax-1" up to "parallax-6" to enable parallax effect.
        * Use class "fade-out-scroll-1" up to "fade-out-scroll-6" to enable fade out effect if page scroll.
        -->
            <div class="page-header-caption ph-caption-lg parallax-4 fade-out-scroll-3">
                <h1 class="page-header-title">Feedback</h1>
                <hr class="hr-short">

                <!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
                <div class="page-header-description" data-max-words="40">
                    <p>Please share your valuable feedback.</p>
                </div>

            </div>
            <!-- End page header caption -->

        </div>
        <!-- End page header inner -->

    </section>
    <!-- End page header -->


    <!-- ============================
    ///// Begin contact section /////
    ============================= -->
    <section id="contact-section">
        <div class="contact-section-inner tt-wrap">
            <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

            <!-- ======================
        ///// Begin split box /////
        based on: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
        ======================= -->
            <div class="split-box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="row-lg-height full-height-vh">


                            <!-- Column -->
                            <div class="col-lg-12 col-lg-height col-lg-middle no-padding">

                                <!-- Begin split box content -->
                                <div class="split-box-content" style="padding: 10% 25%;">

                                    <!-- Begin contact form
                    ========================= -->
                                    <form id="contact-form" [formGroup]="myForm">
                                        <div class="contact-form-inner text-left">

                                            <div class="contact-form-info">

                                                <!-- Begin tt-heading
                          ======================
                          * Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
                          * Use class "text-center" or "text-right" to align tt-heading.
                          * Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
                          -->
                                                <div class="tt-heading">
                                                    <div class="tt-heading-inner">
                                                        <h1 class="tt-heading-title">Please fill feedback form</h1>
                                                        <!-- <div class="tt-heading-subtitle">Subtitle Here</div> -->
                                                        <hr class="hr-short">
                                                    </div> <!-- /.tt-heading-inner -->
                                                </div>
                                                <!-- End tt-heading -->

                                                <!-- <div class="margin-top-30">
                            <p>Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                          </div> -->

                                            </div> <!-- /.contact-form-info -->

                                            <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                                            <input type="hidden" name="project_name" value="yourwebsiteaddress.com">
                                            <!-- Change value to your site name -->
                                            <input type="hidden" name="admin_email" value="your@email.com">
                                            <!-- Change value to your valid email address (where a message will be sent) -->
                                            <input type="hidden" name="form_subject"
                                                value="Message from yourwebsiteaddress.com">
                                            <!-- Change value to your own message subject -->
                                            <!-- End Hidden Required Fields -->

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <input formControlName="customer_name" type="text"
                                                            class="form-control" name="name" placeholder="Your Name"
                                                            required>
                                                        <div class="error input-error" style="width: auto;padding: 5px;"
                                                            *ngIf="controls.customer_name.invalid && (submitted || (controls.customer_name.dirty || controls.customer_name.touched))">
                                                            <div *ngIf="controls.customer_name.errors?.required">
                                                                Please enter your name.
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="rate"
                                                            style="font-weight: normal !important; color: #999ca3 !important;">Ratting</label><br>
                                                        <label style="color: #999ca3 !important"
                                                            class="radio-inline"><input type="radio" name="rate"
                                                                formControlName="rate" checked value="1">1 Star</label>
                                                        <label style="color: #999ca3 !important"
                                                            class="radio-inline"><input type="radio"
                                                                formControlName="rate" name="rate" value="2">2
                                                            Star</label>
                                                        <label style="color: #999ca3 !important"
                                                            class="radio-inline"><input type="radio"
                                                                formControlName="rate" name="rate" value="3">3
                                                            Star</label>
                                                        <label style="color: #999ca3 !important"
                                                            class="radio-inline"><input type="radio"
                                                                formControlName="rate" name="rate" value="4">4
                                                            Star</label>
                                                        <label style="color: #999ca3 !important"
                                                            class="radio-inline"><input type="radio"
                                                                formControlName="rate" name="rate" value="5">5
                                                            Star</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <textarea type="text" formControlName="review_content"
                                                            class="form-control" name="review_content" rows="4"
                                                            placeholder="Your thoughts on our service"
                                                            required></textarea>
                                                        <div class="error input-error" style="width: auto;padding: 5px;"
                                                            *ngIf="controls.review_content.invalid && (submitted || (controls.review_content.dirty || controls.review_content.touched))">
                                                            <div *ngIf="controls.review_content.errors?.required">
                                                                Please enter your feedback.
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="small text-gray"><em>* All fields are required!</em></div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary btn-lg margin-top-40"
                                                    (click)="submit()">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End contact form -->

                                </div>
                                <!-- End split box content -->

                            </div> <!-- /.col -->
                        </div> <!-- /.row-height -->
                    </div> <!-- /.row -->

                </div> <!-- /.container -->
            </div>
            <!-- End split box -->

        </div> <!-- /.contact-section-inner -->
    </section>
    <!-- End contact section -->

</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo5b533IB2iuDcTn2razvfjyc_rpZdiRw&amp;callback=initMap"></script>
<!-- End body content -->